@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Thin.ttf") format("truetype");
}

body {
  background-color: #f0f0f0;
  user-select: none;
  -webkit-app-region: drag;
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main .timer {
  font-family: "Raleway", sans-serif;
  font-size: 8em;
}


.btn-start {
  margin-top: 36px;
  width: 128px;
  height: 36px;
  border: 0px;
  border-radius: 30px;
  background-color: #222;
  color: #fff;
}

.btn-start:hover {
  background-color: #555555;
}

.btn-start:active {
  background-color: #000000;
}

.btn-start:disabled {
  background-color: #b6b6b6;
}